.grey {
    background-color: #F6F6F6;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #BEBEBE;
    color: #BEBEBE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.error {
    margin-left: 20px;
}

input {
    width: 485px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #BEBEBE;
    padding: 10px;
}